<html>
<head>
    <title>index</title>
    <script src="{{ STATIC_URL }}js/jquery-2.1.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/Chart.min.js"></script>
    <script src="{{ STATIC_URL }}js/moment-with-locales.js"></script>
    <script src="{{ STATIC_URL }}js/common.js"></script>
    <script src="{{ STATIC_URL }}js/body.js"></script>
    <script src="{{ STATIC_URL }}js/nutrition.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{{ STATIC_URL }}css/site.css" media="all" rel="stylesheet">
</head>
<body>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% block bootstrap3_content %}
    <div class="container">
        <div id="body-panel" class="panel panel-info">
            <div class="panel-heading">
                Body
                <div class="pull-right">
                    <div class="btn-group add-entry">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            +
                        </a>
                        <ul class="dropdown-menu">
                            <li><input class="input" type="text" name="weight" placeholder="weight"></li>
                            <li><input class="input" type="text" name="bodyfat" placeholder="body fat"></li>
                        </ul>
                    </div>
                    <div class="btn-group btn-group-xs aggregation" role="group" aria-label="Aggregation">
                        <button type="button" class="btn btn-default" data-chart="body" data-aggregation="month">monthly</button>
                        <button type="button" class="btn btn-default" data-chart="body" data-aggregation="week">weekly</button>
                        <button type="button" class="btn btn-default" data-chart="body" data-aggregation="day">daily</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="body"></canvas>
            </div>
            <div id="body-legend" class="panel-footer chart-legend"></div>
        </div>
        <div id="nutrition-panel" class="panel panel-info">
            <div class="panel-heading">
                Nutrition
                <div class="pull-right">
                    <div class="btn-group add-entry">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            +
                        </a>
                        <ul class="dropdown-menu">
                            <li><input class="input" type="text" name="calories" placeholder="calories"></li>
                        </ul>
                    </div>
                    <div class="btn-group btn-group-xs aggregation" role="group" aria-label="Aggregation">
                        <button type="button" class="btn btn-default" data-chart="nutrition" data-aggregation="month">monthly</button>
                        <button type="button" class="btn btn-default" data-chart="nutrition" data-aggregation="week">weekly</button>
                        <button type="button" class="btn btn-default" data-chart="nutrition" data-aggregation="day">daily</button>
                    </div>
                </div>
            </div>
            <div class="panel-nutrition">
                <canvas id="nutrition"></canvas>
            </div>
            <!-- <div id="nutrition-legend" class="panel-footer chart-legend"></div> -->
        </div>
    </div>
    {% endblock %}
</body>
